chainlit
openpyxl
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langchain-mongodb
pymongo
pandas
pypdf
pillow
opencv-contrib-python
python-dotenv
torch
transformers
torchvision
pymupdf