chainlit
openpyxl
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langchain-mongodb
pymongo
pandas
pypdf
pillow
opencv-contrib-python
python-dotenv
transformers
pymupdf
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu